extend componentes/plantilla.pug
block contenidos
    section.intro
        .intro__imagen: img(src="./images/imagen.png", alt="")
        .intro__contenido 
            h2 #{titulos[0]} 
            p
                | Lorem ipsum, dolor sit amet consectetur adipisicing
                | elit. Similique mollitia deleniti liber.
                | exercitationem illo soluta voluptatem, excepturi
                | reiciendis quisquam vitae, veritatis nihil.
                | perferendis ut expedita aut ipsum quod? Maiores
            
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta possimus ipsam blanditiis quae quo! Praesentium, repudiandae voluptatem excepturi officiis in nesciunt velit optio qui magnam explicabo, deserunt, tempora omnis a!
            a.boton Leer Mas
        ul 
            each  titulo in titulos 
                li=titulo 
    main.contenido 
        +caja("imagen.png",titulos[1],'Lorem ipsum dolor sit amet consectetur adipisicin')
        +caja("imagen.png",titulos[2],'Lorem ipsum dolor sit amet consectetur adipisicin')
        +caja("imagen.png",titulos[3],'Lorem ipsum dolor sit amet consectetur adipisicin')

