-var titulo = "Sub-título Principal "
-var titulos = ["Título Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
doctype html 
html 
    head 
        meta(charset="UFT-8")
        link(rel="stylesheet", href="./css/ejercicio-pug.css")
    body 
        header 
            h1  PlatziGames
            a.boton Registro
        section.intro
            .intro__imagen: img(src="./images/imagen.png", alt="")
            .intro__contenido 
                h2 #{titulos[0]} 
                p
                    | Lorem ipsum, dolor sit amet consectetur adipisicing
                    | elit. Similique mollitia deleniti liber.
                    | exercitationem illo soluta voluptatem, excepturi
                    | reiciendis quisquam vitae, veritatis nihil.
                    | perferendis ut expedita aut ipsum quod? Maiores
               
                    span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta possimus ipsam blanditiis quae quo! Praesentium, repudiandae voluptatem excepturi officiis in nesciunt velit optio qui magnam explicabo, deserunt, tempora omnis a!
                a.boton Leer Mas

